.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;

  border-radius: 200px;
  padding: 16px 43px;
  min-width: 173px;
  height: 56px;
  border: none;
  cursor: pointer;
}
.green {
  background-color: var(--color-green);
  transition: background-color 0.2s ease;
}
.green:hover {
  background-color: var(--color-dark-green);
}
.white {
  color: #101828;

  background-color: #fff;
  border: 1px solid #dadde1;
  transition: border 0.2s ease;
}
.white:hover {
  border: 1px solid var(--color-dark-green);
}
