.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;

  border-radius: 20px;
  padding: 24px;
  width: 360px;

  background: #f7f7f7;
  margin: 0 65px;
  height: 840px;
}
.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.page {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  margin-top: 48px;
}
.detailsPage {
  justify-content: center;
}

.paginateButton {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  padding: 16px 32px !important;

  max-width: 146px;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-self: center;
}
.showMoreButton {
  max-width: 173px;
}
.emptyMessage {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.33333;
  color: #475467;
}
